<!DOCTYPE html>
<html>
<head>
    <title>Chatbot Ley de Comercio Electrónico</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
   
   
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-6">
                <div id="chat-header">
                    <img src="{{ url_for('static',filename='img/chatbot.avif') }}" alt="Chatbot" id="chatbot-image">
                    <div id="chat-title">Chatbot GPT 6.0</div>
                    <div id="chat-description">Especialista en la ley del comercio electronico</div>
                </div>                
                <div class="chatbox-container">
                    <div id="chatbox">
                        <!-- Los mensajes aparecerán aquí
                            
                            <div id="typing" style="display: none;">
                        <div class="message bot-message">
                            <div class="dots">
                                <div class="dot"></div>
                                <div class="dot"></div>
                                <div class="dot"></div>
                            </div>
                        </div>
                    </div> -->
                    </div>
                    
                </div>
                
                <div id="inputGroup" class="mt-3">
                    <textarea id="userInput" class="form-control" rows="2"></textarea>
                    <button id="sendButton" class="btn btn-primary" onclick="sendMessage()">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
    <script>
        $('#userInput').keypress(function(e){
            if(e.keyCode == 13 && !e.shiftKey) {  // Verifica si la tecla presionada es "Enter" y si "Shift" no está presionado
                e.preventDefault();  // Evita el salto de línea predeterminado en "Enter"
                sendMessage();  // Llama a la función de enviar mensaje
            }
        }); 
        
        function sendMessage() {
            var message = $('#userInput').val().trim();  // Aquí se usa .trim() para eliminar los espacios en blanco al inicio y al final del mensaje
            if (message === '') {  // Verifica si el mensaje está vacío
                return;  // Si está vacío, sale de la función y no hace nada más
            }
            $('#chatbox').append('<div class="message user-message"><p>' + message + '</p></div><br>');
            $('#userInput').val('');
            $('#chatbox').scrollTop($('#chatbox')[0].scrollHeight);
            $('#typing').show();  // Muestra el mensaje de "escribiendo"
            $.ajax({
                url: '/chatbot_ronald_Jefferson',  // Ruta al servidor de tu chatbot
                data: { 'message': message },
                type: 'POST',
                success: function(response) {
                    $('#typing').hide();  // Oculta el mensaje de "escribiendo"
                    $('#chatbox').append('<div class="message bot-message"><p><b>CHATGPT 6.0: </b> ' + response + '</p></div><br>');
                    $('#chatbox').scrollTop($('#chatbox')[0].scrollHeight);
                },
                error: function(error) {
                    $('#typing').hide();  // Oculta el mensaje de "escribiendo" en caso de error también
                    console.log(error);
                }
            });
        }
        $(document).ready(function() {
            var defaultMessage = 'Hola, soy CHATGPT 6.0, especializado en el comercio electrónico, ¿en qué puedo ayudarte?';
            $('#chatbox').append('<div class="message bot-message"><p><b>CHATGPT 6.0:</b> ' + defaultMessage + '</p></div><br>');
        });

    </script>
  
</body>
</html>


